.recipe-container{
    background-color: #fff;
}

ul{
    padding-left: 1rem;
}
.ingredient{
    list-style: none;
    margin-top: 1rem;
  
}
strong{
    padding: 0.15rem;
    background-color: #2ba9f2;
    border-radius: 5px;
    color: #fff;
}
.instruction-list{
    background-color: lightgray;
    border-radius: 15px;
}